In [1]:
import pandas as pd
import datetime as dt
import os
import glob
os.chdir("Data/")
import math

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [4]:
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [5]:
#file_to_load = "Data/combined_csv.csv"
#combined_df = pd.read_csv(file_to_load)
#combined_df.tail(1)

In [6]:
combined_data = pd.read_csv("combined_csv.csv")
combined_data.tail(5)

C:\Users\Irina\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time
6829546,621.0,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,Subscriber,1962,1,NaN,NaN
6829547,167.0,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,Subscriber,1984,1,NaN,NaN
6829548,94.0,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,1,NaN,NaN
6829549,366.0,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1,NaN,NaN
6829550,150.0,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1,NaN,NaN

In [7]:
combined_data[['starttime', 'start_time']] = combined_data['starttime'].str.split(' ',expand=True)

In [8]:
combined_data[['stoptime', 'stop_time']] = combined_data['stoptime'].str.split(' ',expand=True)

In [9]:
combined_data.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time
0,1814.0,2018-04-01,2018-04-01,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,26175,Subscriber,1978,1,09:43:51.1590,10:14:06.1300
1,298.0,2018-04-01,2018-04-01,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31847,Subscriber,1979,1,11:42:53.7090,11:47:51.8770
2,1060.0,2018-04-01,2018-04-01,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,33463,Subscriber,1972,1,12:43:11.9640,13:00:52.8700

In [10]:
combined_data['tripduration'] =combined_data['tripduration']/60

In [11]:
combined_data.tail(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time
6829548,1.566667,2019-09-30,2019-09-30,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,1,23:26:24.7470,23:27:59.2310
6829549,6.100000,2019-09-30,2019-09-30,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1,23:49:00.4260,23:55:06.9620
6829550,2.500000,2019-09-30,2019-09-30,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1,23:56:30.1980,23:59:00.6750

In [12]:
combined_data.tail(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,stop_time
6829548,1.566667,2019-09-30,2019-09-30,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,Subscriber,1958,1,23:26:24.7470,23:27:59.2310
6829549,6.100000,2019-09-30,2019-09-30,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,Subscriber,1976,1,23:49:00.4260,23:55:06.9620
6829550,2.500000,2019-09-30,2019-09-30,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,Subscriber,1982,1,23:56:30.1980,23:59:00.6750

In [13]:
combined_data['gender']=combined_data['gender'].replace(0,'unknown')

In [14]:
combined_data['gender']=combined_data['gender'].replace(1,'male')

In [15]:
combined_data['gender']=combined_data['gender'].replace(2,'female')

In [16]:
len(combined_data.starttime)

6829551

In [17]:
filter2018 =len(combined_data[(combined_data.starttime >'2018-01-01') &(combined_data.starttime <='2018-12-31')].index)

filter2019 =len(combined_data[(combined_data.starttime >'2019-01-01') &(combined_data.starttime <='2019-12-31')].index)

In [18]:
print('Total trips in 2018 and 2019: ',len(combined_data.starttime))
print('Total trips in 2018: ',filter2018)
print('Total trips in 2019: ',filter2019)
print('Percentage growth of ridership in 2019 : ', 100*(((filter2019-filter2018)/filter2018)))

Total trips in 2018 and 2019:  6829551
Total trips in 2018:  3184119
Total trips in 2019:  3640644
Percentage growth of ridership in 2019 :  14.337560876336594

In [19]:
filter2018_usertype = combined_data[(combined_data.starttime >'2018-01-01') &(combined_data.starttime <='2018-12-31')]

In [20]:
filter2018_usertype_grouped = filter2018_usertype.groupby('usertype')

In [21]:
filtered_2018_usertype =filter2018_usertype_grouped.count()
filtered_2018_usertype

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender,start_time,stop_time
usertype,,,,,,,,,,,,,,,,
Customer,199503,199503,199503,199503,199503,199503,199503,199503,199503,199503,199503,199503,199503,199503,110835,110835
Subscriber,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,2984616,1658120,1658120

In [22]:
customer_2018_cus=filtered_2018_usertype['tripduration'][0]
customer_2018_cus

199503

In [23]:
customer_2018_sub=filtered_2018_usertype['tripduration'][1]
customer_2018_sub

2984616

In [24]:
custumer_perc_2018=round(customer_2018_cus/filter2018*100)
custumer_perc_2018

6

In [25]:
subscriber_perc_2018 = round(customer_2018_sub/filter2018*100)
subscriber_perc_2018

94

In [26]:
filter2019_usertype=combined_data[(combined_data.starttime >'2019-01-01') &(combined_data.starttime <='2019-12-31')]

In [27]:
filter2019_usertype_grouped = filter2019_usertype.groupby('usertype')

In [28]:
filtered_2019_usertype =filter2019_usertype_grouped.count()

In [29]:
customer_2019_cus=filtered_2019_usertype['tripduration'][0]
customer_2019_cus

386640

In [30]:
customer_2019_sub = filtered_2019_usertype['tripduration'][1]
customer_2019_sub

3254004

In [31]:
custumer_perc_2019=round(customer_2019_cus/filter2019*100)
custumer_perc_2019

11

In [32]:
subscriber_perc_2019 = round(customer_2019_sub/filter2019*100)
subscriber_perc_2019

89

In [33]:
print('Total trips in 2018 and 2019: ',len(combined_data.starttime))
print('Total trips in 2018: ',filter2018)
print('Total trips in 2019: ',filter2019)
print('Percentage growth of ridership in 2019 : ', 100*(((filter2019-filter2018)/filter2018)))
print('The proportion of short-term customers and annual subscribers in 2019 has changed by ',(custumer_perc_2019-custumer_perc_2018),'%')

Total trips in 2018 and 2019:  6829551
Total trips in 2018:  3184119
Total trips in 2019:  3640644
Percentage growth of ridership in 2019 :  14.337560876336594
The proportion of short-term customers and annual subscribers in 2019 has changed by  5 %

In [ ]:
combined_data.head(6)

In [ ]:
combined_data.to_csv('cleaned_citibike_data.csv', index=False)